<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post">
        <label for="name"> Name</label>
        <input type="text" name="name" id="name" value="{{data.Name}}"><br><br>
        <label for="age"> Age</label>
        <input type="number" name="age" id="age" value="{{data.Age}}"><br><br>
        <label for="mob">Mobile</label>
        <input type="number" name="mob" id="mob" value="{{data.Mob}}"><br><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>